# Ignore everything in .config
*

# Allow tracking of specific directories
!autostart/
!findex/
!fish/
!fusuma/
!lazygit/
!nvim/
!tmux/

# Ignors specific to neovim folder
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/.luarc.json
