[submodule "/home/grzeszko/dotfiles/tmux/plugins/tpm"]
	path = /home/grzeszko/dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "BrowserHomePage"]
	path = BrowserHomePage
	url = git@github.com:EzraKirn/BrowserHomePage.git
