[Desktop Entry]
Version=1.0
Type=Application
Name=HTTP Server
Comment=Start a simple Python HTTP server on port 8000
Exec=python3 -m http.server 8000
Path=/home/grzeszko/dotfiles/BrowserHomePage/web
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
