[Desktop Entry]
Type=Application
Exec=/usr/bin/findex-daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Findex
Name=Findex
Comment[en_US]=
Comment=
