[Desktop Entry]
Type=Application
# Exec=xidlehook   --not-when-audio --timer 60 '$HOME/dotfiles/i3/scripts/lockscrean.sh' ''
Exec=sh -c "xidlehook --not-when-audio --timer 60 \"\\$HOME/dotfiles/i3/scripts/lockscrean.sh\" ''"
Name=Lock Screen
